    /*
    Flaticon icon font: Flaticon
    Creation date: 19/04/2020 06:49
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-home-1:before { content: "\f100"; }
.flaticon-home:before { content: "\f101"; }
.flaticon-open-email-message:before { content: "\f102"; }
.flaticon-email:before { content: "\f103"; }
.flaticon-clock:before { content: "\f104"; }
.flaticon-clock-1:before { content: "\f105"; }
.flaticon-send:before { content: "\f106"; }
.flaticon-search:before { content: "\f107"; }
.flaticon-loupe:before { content: "\f108"; }
.flaticon-search-1:before { content: "\f109"; }
.flaticon-air-freight:before { content: "\f10a"; }
.flaticon-report:before { content: "\f10b"; }
.flaticon-signature:before { content: "\f10c"; }
.flaticon-letter:before { content: "\f10d"; }
.flaticon-call:before { content: "\f10e"; }
.flaticon-manager:before { content: "\f10f"; }
.flaticon-management:before { content: "\f110"; }
.flaticon-tie:before { content: "\f111"; }
.flaticon-idea:before { content: "\f112"; }
.flaticon-payment-method:before { content: "\f113"; }
.flaticon-bill:before { content: "\f114"; }
.flaticon-bank:before { content: "\f115"; }
.flaticon-work:before { content: "\f116"; }
.flaticon-employee:before { content: "\f117"; }
.flaticon-flight:before { content: "\f118"; }
.flaticon-accept:before { content: "\f119"; }
.flaticon-form:before { content: "\f11a"; }
.flaticon-document:before { content: "\f11b"; }
.flaticon-copy:before { content: "\f11c"; }
.flaticon-group-of-users-silhouette:before { content: "\f11d"; }
.flaticon-globe:before { content: "\f11e"; }
.flaticon-plane:before { content: "\f11f"; }
.flaticon-visa:before { content: "\f120"; }
.flaticon-geography:before { content: "\f121"; }
.flaticon-flight-1:before { content: "\f122"; }
.flaticon-airport:before { content: "\f123"; }
.flaticon-flight-2:before { content: "\f124"; }
.flaticon-bus-stop:before { content: "\f125"; }
.flaticon-bus:before { content: "\f126"; }
.flaticon-bus-1:before { content: "\f127"; }
.flaticon-london:before { content: "\f128"; }
.flaticon-bus-2:before { content: "\f129"; }
.flaticon-visa-1:before { content: "\f12a"; }
.flaticon-files:before { content: "\f12b"; }
.flaticon-elearning:before { content: "\f12c"; }
.flaticon-online-class:before { content: "\f12d"; }
.flaticon-class:before { content: "\f12e"; }
.flaticon-conversation:before { content: "\f12f"; }
.flaticon-negociation:before { content: "\f130"; }
.flaticon-boss:before { content: "\f131"; }
.flaticon-seminar:before { content: "\f132"; }
.flaticon-quote:before { content: "\f133"; }
.flaticon-phone:before { content: "\f134"; }
.flaticon-pin:before { content: "\f135"; }
.flaticon-email-1:before { content: "\f136"; }
.flaticon-email-2:before { content: "\f137"; }
.flaticon-envelope:before { content: "\f138"; }
.flaticon-checked:before { content: "\f139"; }
.flaticon-tick:before { content: "\f13a"; }
.flaticon-home-2:before { content: "\f13b"; }
.flaticon-long-arrow-pointing-to-the-right:before { content: "\f13c"; }
.flaticon-long-right-arrow:before { content: "\f13d"; }
    
    $font-Flaticon-home-1: "\f100";
    $font-Flaticon-home: "\f101";
    $font-Flaticon-open-email-message: "\f102";
    $font-Flaticon-email: "\f103";
    $font-Flaticon-clock: "\f104";
    $font-Flaticon-clock-1: "\f105";
    $font-Flaticon-send: "\f106";
    $font-Flaticon-search: "\f107";
    $font-Flaticon-loupe: "\f108";
    $font-Flaticon-search-1: "\f109";
    $font-Flaticon-air-freight: "\f10a";
    $font-Flaticon-report: "\f10b";
    $font-Flaticon-signature: "\f10c";
    $font-Flaticon-letter: "\f10d";
    $font-Flaticon-call: "\f10e";
    $font-Flaticon-manager: "\f10f";
    $font-Flaticon-management: "\f110";
    $font-Flaticon-tie: "\f111";
    $font-Flaticon-idea: "\f112";
    $font-Flaticon-payment-method: "\f113";
    $font-Flaticon-bill: "\f114";
    $font-Flaticon-bank: "\f115";
    $font-Flaticon-work: "\f116";
    $font-Flaticon-employee: "\f117";
    $font-Flaticon-flight: "\f118";
    $font-Flaticon-accept: "\f119";
    $font-Flaticon-form: "\f11a";
    $font-Flaticon-document: "\f11b";
    $font-Flaticon-copy: "\f11c";
    $font-Flaticon-group-of-users-silhouette: "\f11d";
    $font-Flaticon-globe: "\f11e";
    $font-Flaticon-plane: "\f11f";
    $font-Flaticon-visa: "\f120";
    $font-Flaticon-geography: "\f121";
    $font-Flaticon-flight-1: "\f122";
    $font-Flaticon-airport: "\f123";
    $font-Flaticon-flight-2: "\f124";
    $font-Flaticon-bus-stop: "\f125";
    $font-Flaticon-bus: "\f126";
    $font-Flaticon-bus-1: "\f127";
    $font-Flaticon-london: "\f128";
    $font-Flaticon-bus-2: "\f129";
    $font-Flaticon-visa-1: "\f12a";
    $font-Flaticon-files: "\f12b";
    $font-Flaticon-elearning: "\f12c";
    $font-Flaticon-online-class: "\f12d";
    $font-Flaticon-class: "\f12e";
    $font-Flaticon-conversation: "\f12f";
    $font-Flaticon-negociation: "\f130";
    $font-Flaticon-boss: "\f131";
    $font-Flaticon-seminar: "\f132";
    $font-Flaticon-quote: "\f133";
    $font-Flaticon-phone: "\f134";
    $font-Flaticon-pin: "\f135";
    $font-Flaticon-email-1: "\f136";
    $font-Flaticon-email-2: "\f137";
    $font-Flaticon-envelope: "\f138";
    $font-Flaticon-checked: "\f139";
    $font-Flaticon-tick: "\f13a";
    $font-Flaticon-home-2: "\f13b";
    $font-Flaticon-long-arrow-pointing-to-the-right: "\f13c";
    $font-Flaticon-long-right-arrow: "\f13d";